@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --cor-menu: #FFF1EB;
    --cor-botões: #FF7F50;
    --cor-links: #1E266D;
    --cor-h1: #000000;
    --cor-h2-h3: #1E266D;
    --cor-paragrafo: #A3A7CC;
    --cor-footer: #040726;
    --cor-h1-footer: #fff;
    --cor-links-footer: #C3C7E5;
}

/* configurações das fontes */


/* configuraçoes do header e menu */

header{
    background-color: var(--cor-menu);
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0 15px 0;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.logo a{
    display: flex;
    align-items: center;
    color: var(--cor-links);
}

.logo img{
    width: 40px;
}

.links-menu{
    color: var(--cor-links);
    font-weight: 500;
}

.links-menu:hover,
.links-menu:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--cor-botões);
  transform: translateY(-0.25em);
}

.botoes{
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-botões);
    color: #FFF;
}

.botoes:hover, .botoes:focus{
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    background-color: #4959e6;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 #4959e6; }
  }